/* !GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background: url(../img/bg.png)no-repeat;
    background-size: cover;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}

.container h1 {
    text-align: center;
    font-size: 150px;
    letter-spacing: 20px;
    color: #fff;
    z-index: 1;
}





